<div class="app p-2" style="width: 100%">
    <h1 v-if="peopleCount > 0" class="text-lg leading-tight font-semibold text-center text-gray-900" @click="toggleDebug">{{ h1 }}</h1>
    <ul>
        <li v-for="(person, index) in persons" :key="index" class="mt-3">
            <div class="">{{ person.name | uppercase }}</div>
            <div class="italic text-base pl-3">„{{ person.citation }}“</div>
            <div class="pl-3 text-xs">{{ getContact(person) }}</div>
        </li>
    </ul>
    <div class="text-center">
        <p class="pt-8 text-lg">Greif schnell zu! Dieses Angebot läuft bereits seit <span class="text-red-600">{{ uptime }}</span> Sekunden!</p>
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold mt-8 py-2 px-4 rounded" @click="toggleCounterRunner" @style="buttonStyle">Ich will keine Zeit verlieren!</button>
    </div>
    <pre class="p-4" :style="expandableStyle" v-expandable:500.a.b="stopCounter" v-if="showDebug">{{ debug }}</pre>
</div>