:host {
    display: block;
    border: 2px solid lightgray;
    padding: 1rem;
}

h3 {
    animation: caption-right 1s 1 cubic-bezier(0.985,0.005,0.265,1);
    margin-top: 0;
    min-height: 60px;
}

img {
    display: block;
    width: 100%;
}